table {
    width: 100%;
  }
  
  .file-input {
    color: transparent;
    width: 100%;
  }
  
  .uploadfilecontainer {
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 47px;
    margin-bottom: 5px;
    background-color: #9dc3df;
    border: 2px dashed #003F6D;
    border-radius: 10px;
  }
  
  .uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #8ebbdb !important;
  }
  
  .icon-file-input {
    font-size: 70px;
    color: #003F6D;
  }
  
  :host ::ng-deep .mat-form-field-underline {
    width: 98% !important;
  }
  